<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
    
</head>
<body>
    <%- include('./partials/nav') %>


    <div class="container mt-3">
        <% if (locals.blogs && locals.blogs.length > 0) { %>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <% blogs.forEach(blog => { %>
                    <div class="col">
                        <div class="card h-100">
                            <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%= blog.title %></h5>
                                <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <div class="text-center">
                <div class="alert alert-info" role="alert">
                    No blogs available.
                </div>
            </div>
        <% } %>
    </div>


    <%- include('./partials/script') %>
</body>
</html>